/**
 * m.css
 */
@charset "UTF-8";


.search-history{height: 100%; overflow-y: scroll;padding-bottom: 15px}

@media screen and (min-width: 1024px) and (max-width: 1170px) {
body { overflow-x: hidden }
.box, .article-box { width: 100%; }
.ad-big, .left-box, .page-box { width: 68%; }
.ad-small { width: 31% }
.qq_join li section { margin: 0 }
.right-box { width: 31% }
}

@media screen and (min-width: 960px) and (max-width: 1023px) {
body { overflow-x: hidden }
.box, .article-box { width: 950px; }
.star-list li { margin-right: 0 }
.ad-big, .left-box { width: 68%; }
.ad-small, .right-box { width: 31% }
.pics-list-price li i { height: 120px; line-height: 120px }
.page-title { width: 23% }
.page-box { width: 70% }
.qq_join li { width: 40%; }
.qq_join li section { margin: 0; }
.pics .pic-list-img li:first-child i { height: 265px; line-height: 265px; }
.pic-list-img li i { height: 110px; line-height: 110px; }
.mp-pics ul li a { height: 90px; line-height: 90px; }
.product-auto li { width: 33.333% }
.product-auto li:last-child { display: none }
.product { margin: 0 10px }
}

@media screen and (min-width: 840px) and (max-width: 959px) {
body { overflow-x: hidden }
.box, .article-box { width: 100%; }
nav .star-list { width: 100% }
.star-list li { margin-right: 0; width: 10% }
.star-list li a { padding: 0 10px; }
.banner-box { width: 58% }
.headline-box { width: 39% }
.ad-big, .left-box { width: 68%; }
.ad-small, .right-box { width: 31% }
.pics .pic-list-img li:first-child i { height: 225px; line-height: 225px; }
.pic-list-img li i { height: 90px; line-height: 90px; }
.pics-list-price li i { height: 110px; line-height: 110px }
.pics-list-price li a { margin: 0 2px }
.videos-list li i { height: 110px }
.page-title { width: 23% }
.page-box { width: 68% }
.qq_join li { width: 45%; }
.qq_join li section { margin: 0; }
.down-list li h2 span { display: none }
.down-list li h2 { margin-right: 0 }
}

@media screen and (max-width: 839px) {
body { overflow-x: hidden }
.box, .article-box { width: 100%; }
.toolbar-open, .toolbar { top: 40% }
.logo-section { display: none }
.article-box { margin-top: 50px }
.top-nav {
    position: fixed;
    top: 0; z-index: 333;
    background: rgba(0,0,0,.6);
    border-top: #1487f4 40px solid;
}
nav .star-list { width: 250px;margin-left: 0 ;height: calc(100vh);overflow-y: scroll}
.m-nav-h { display: block; top: -40px; position: absolute; right: 0; }
/*.star-list { display: none }*/
.nav-menu-box { display: none }
.star-list li { width: 250px; margin: 0; background: #fff; border-bottom: #eee 5px solid; }
.star-list li a { text-align: left; text-indent: 2em; color: #000; width: 200px; padding: 0; }
.star-list ul.sub { background: none; width: 100%; display: none; position: initial; padding: 0 }
.star-list ul.sub:before { display: none }
.star-list ul.sub li { border-bottom: none; width: 100%; overflow: hidden; line-height: 40px !important; border-top: none; height: 40px !important; }
.star-list ul.sub li:first-child { border-top: #eee 1px solid }
.star-list ul.sub li a { display: block; text-indent: 3em; }
.star-list ul.sub li:hover a, .star-list li:hover a { background: none }

.menu:after { top: 0; right: 7px; width: 26px; height: 22px; content: "\e612"; font-family: "iconfont" !important; font-size: 18px; }
.menu:hover:after { transform: none; color: #1487f4; }
.menu span { display: block;position: absolute; width: 50px; height: 50px; background: rgba(0,0,0,0); z-index: 5; top: 0; right: 0; border-left: #eee 1px solid; }
.star-list li:last-child { padding-bottom: 180%; }
.star-list ul.sub li:last-child { padding-bottom: 0 }
.toolbar-open { display: none }
.banner-box { width: 50% }
.headline-box { width: 48% }
.recommend-news-list ul li { margin-bottom: 10px }
.recommend-news-pic i { height: 140px }
.ad-big, .left-box { width: 100%; }
.ad-small, .right-box { display: none; }
.pics .pic-list-img li:first-child i { height: 205px; line-height: 205px; }
.pic-list-img li i { height: 80px; line-height: 80px; }
.videos-list li i { height: 110px; }
.down-list li h2 { margin-right: 0 }
.down-list li h2 span { display: none }
.tags ul a { width: 14% }
.tags ul a:nth-child(n+22) { display: none }
.blogs-list li i { width: 140px; height: auto; }
.middle-inner { display: block }
.lanmu-keywords { margin-top: 20px; clear: both; }
.side-tab-ul { margin: 20px 10px 0 }
.down-view { overflow: hidden }
.down-view .btn-blue a { display: block; position: static; float: right; }
.pics-list-box li a, .pics-list-price li a { margin: 0 5px 5px }
.pics-list-box li i { height: 110px; }
.mp-pics ul li a { height: 70px; line-height: 70px }
.pics-list-price li i { height: 110px; line-height: 110px }
.page-box { width: 55%; }
.qq_join li { width: 50%; padding: 10px 0 }
.qq_join li section { margin: 0 5px }
.product { width: 45% }
.product-auto li { width: 33.333% }
.product-auto li i { height: 90px; line-height: 90px; }
.product-auto li:last-child { display: none }
.top-nav h2 { display: block }
.is-search { display: block }
}

@media screen and (max-width: 768px) {
.banner-box { width: 100%; height: 100%; }
.headline-box { width: 100%; }
.left-box { width: 100% }
aside { width: 0 !important; height: 0 !important; }
.down-view .btn-blue a { display: block; position: absolute; float: none; }
.mp-pics ul li a { height: 110px; line-height: 110px; }
.page-title { width: 30%; float: left; }
.page-box { width: 60%; }
.end-menu { display: block }
.lanmu h1 { margin: 5px 0; }
.blogs-list li i img { height: 60px; min-height: auto; }
}
 @media screen and (max-width: 700px) {
/*.banner-box { width: 100%; height: 100%; }*/
/*.headline-box { width: 100%; }*/
.recommend-news-list ul li { width: 100%; }
.recommend-news-list ul li:nth-child(n+4) { display: none }
.videos-list li i { height: 90px; }
.down-list li:hover .d-list-hover { display: none; }
.pics-list-price li { width: 33.3333% }
}
@media screen and (max-width: 480px) {
.search-page .search { margin-right: 10px; width: 80%; }
.search-page .search input.input_text { width: 76%; }
.search-page .search input.input_submit { background: none; }
.gd-box { overflow-x: scroll; }
#tab { width: 800px; }
.tab-a-more { display: none; }
.white-bg { border: none; overflow: hidden; }
.news-title { margin: 10px 0 }
.news-title h2 { width: fit-content; padding-left: 10px }
.news-title h2:after { left: 10px; width: 90% }
#tab { margin: 10px 0 }
#tab-content { margin: 0; padding: 0 10px }
.recommend-news-pic { width: 100%; margin-top: 10px; }
.btn-blue-border { display: none }
.recommend-news-pic i { height: auto; margin-bottom: 10px; }
.recommend-news-pic i img { margin: auto; max-width: 100%; }
.recommend-news-pic i span { display: none }
.recommend-news-pic h2 { margin: 5px 0 }
.recommend-news-pic p { -webkit-line-clamp: 2; height: 40px; }
.recommend-news-list { width: 100%; margin: 20px 0; }
.recommend-news-list ul li a { margin: 0 }
.ad-big { width: 100%; }
.ad-small { display: none }
.blogs-list li span { display: none; }
.pics .pic-list-img li:first-child { width: 50%; }
.pics .pic-list-img li:first-child i { height: 100px; line-height: 100%; }
.pic-list-img li { width: 50%; margin-bottom: 10px; }
.pic-list-img li a { margin: 0 5px }
.pic-list-img li span { text-align: left; font-size: 12px; margin-top: 0; line-height: 20px; }
.pic-list-img li i { height: 100px; line-height: 100%; margin-bottom: 5px; }
.pic-list-img li i img { }
.pic-list-img li:nth-child(n+7) { display: none }
.pic-list-img { padding-bottom: 10px; overflow: hidden; }
.news-new-pic { width: 60px; height: 60px; }
.news-new-pic img { height: 60px; }
.news-new li { width: 100% }
.news-new p { font-size: 12px }
.news-new li:nth-child(n+5) { display: none }
.videos-list li { width: 50% }
.videos-list li:nth-child(n+7) { display: none }
.videos-list li a { margin: 0 3px }
.videos-list li i { }
.videos-list li h2 { font-size: 12px; overflow: hidden; background-size: 20px; line-height: 20px; }
.videos-list li p { display: none }
.word-left { width: 100% }
.word-right { display: none }
.down-list li { width: 100% }
.down-list li:nth-child(n+7) { display: none }
.tags ul a { width: 33.333%; }
.tags ul a:nth-child(n+13) { display: none }
.blank { height: 10px; }
.ad { margin: 10px 0; }
.wx-box { width: 100%; text-align: center; margin-bottom: 20px }
.wx-box li { float: none; display: inline-block }
.end-nav b { display: none }
.end-nav { text-align: center; padding: 0 20px; clear: both; }
.end-nav p { margin-bottom: 20px }
.top-nav h2 { display: block }
.blogs-box { overflow: hidden }
.h-nav, .weizhi { display: none }
.share { display: block }
.share img { float: none; margin: 10px auto; }
.share-text { padding: 0 10px; word-break: break-all; }
.info-pre-next ul li { width: 100%; overflow: hidden; float: none; margin-bottom: 10px; border-bottom: #eee 1px solid; padding-bottom: 10px; }
.info-pre-next ul li:last-child { border-bottom: none }
.info-pre-next ul li:nth-child(1) a { margin-right: 0; }
.info-pre-next ul li:nth-child(2) a { margin-left: 0; }
.other-link, .pinglun-box { overflow: hidden }
.other-link ul li { width: 100% }
.down-view .btn-blue a { position: static; margin: 10px auto 0; }
.down-view .down-info { width: 100%; clear: both; font-size: 12px; }
.down-view i { margin-bottom: 10px }
.down-links ul li { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.down-other-link ul li { width: 100% }
.plr20 { padding: 0 10px; }
#tab li:hover:after, #tab li.tab-current:after { left: 10px; width: 66px; }
.pics-list-box li { width: 50% }
.mp-pics ul li a { height: 70px; line-height: 70px; }
.mp-pics ul li a img { height: 70px; width: auto; }
.pics-list-price li { width: 50%; margin-bottom: 10px; }
.shop-view { width: 90%; padding: 0; border: 0; margin: auto; float: none; }
.product { padding: 0 20px; margin-right: 0; float: none; width: 90%; }
.product-auto li { width: 50%; }
.product-auto li i { height: 110px; line-height: 110px; }
.product-auto li:nth-child(n+3) { display: none }
#pageContents { overflow-x: scroll; }
#pageContents ul { width: 800px; }
.page-title { width: 100%; float: left; }
.page-box { width: 100%; margin-left: 0; padding-left: 0; border: none; margin-top: 10px; }
.page-title li { width: 100px; float: left; margin-right: 10px }
.qq_join li { width: 50%; padding: 0; margin: auto; float: none; float: left; }
.qq_join li section { margin: 0; padding: 0; box-shadow: none; font-size: 12px; }
.qq_join li p { margin: 0; padding-left: 5px; }
.qq_join li img { width: 140px; height: 140px }
.blogs-list ul li { border-bottom: #eee 1px solid; padding: 10px 0; }
.blogs-list li i { width: 60px; height: 60px; float: right; margin-right: 0; margin-left: 10px; }
.blogs-list li i img { width: auto; }
.blogs-list li h2 { white-space: inherit; overflow: hidden; margin-top: 0; font-size: 16px; font-weight: normal; height: 60px; display: table-cell; vertical-align: middle; }
.blogs-list li h2 a { color: #000 }
.blogs-list li p { display: none }
footer { padding: 30px 0 70px }
.headline-news { overflow: hidden; padding: 17px 20px 20px; }
.end-menu { display: block }
.swiper-container { height: auto !important; }
a.btn-add { margin: auto }
.videos-list .view-num, .word-list li span { display: none }
.tags ul, .links ul { margin: 0 10px 10px; }
span.po-classname, .po-view { display: none }
.news-title-h1 { font-size: 18px; margin-top: 20px; }
.info-pre-next em { line-height: 70px; font-size: 12px; }
.info-pre-next ul li i { width: 70px; height: 70px; }
.info-pre-next img { height: 70px; width: auto }
.news-text-box { padding: 0 20px 0; }
.info-pre-next { margin: 10px 0; }
.lanmu img { width: 100%; margin-bottom: 10px }
.lanmu { padding: 10px; }
.lanmu h1 { font-size: 18px; margin-bottom: 5px; }
.lanmu-keywords { margin-top: 10px; }
.down-view h1 { font-size: 15px; margin-top: 10px; }
.down-view { padding: 10px }
.down-view .down-info em { margin-right: 10px }
.mp-info { display: none }
.wz-title-list li span { display: none }
.pics-list-price span.pics-btn, .pics-list-price li p { display: none; }
.pics-list-price li h2 { line-height: 20px; font-size: 14px; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; white-space: inherit; height: 40px; }
.pics-list-price li i { height: 100px; line-height: 100px; }
.keywords a { font-size: 12px }
.keywords a:last-child { margin-bottom: 20px }
}
